html, body { height: 100%;
cursor: default; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', 'san-serif';
  width: 100%;
}
#github-link {
  margin-top: 350px;
}
.inputgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: 'white';
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 700px;
  height: 100%;
}
#urlinput {
  border-color: #625772 !important;
}
.logo {
  background-color: #625772;
  color: white !important;
  padding: 110px;
  margin-bottom: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#hidden {
  opacity: 0;
  z-index: -100;
  position: absolute;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
